*-gitignore
*_gitignore
*-gitignore.*
*_gitignore.*
**/.texpadtmp/
**/.idea/
**/node_modules/
**/.vscode/
**/.ipynb_checkpoints/
**/__pycache__/
website/src/stimuli/dynamics
website/dist/*.mp4
website/dist/main.bundle.js.LICENSE.txt
figs/test-texplot.pdf